{% extends "head.html" %}
{% block header%}{% endblock %}
{% block content %}
    <section class="section section__cards__wrap">
        <div class="container">
            <div class="section__cards">
                <div class="progressbar">
                    <div class="progressing">
                    </div>
                </div>
                <h2 class="h1 grey progresstext">1 / 3</h2>
                <div class="cards__main">
                    <button class="button__prev button__circle">
                        <svg class="prev__icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8213 21.1785C13.1705 20.5276 13.1705 19.4724 13.8213 18.8215L23.8213 8.82148C24.4722 8.1706 25.5275 8.1706 26.1783 8.82148C26.8292 9.47235 26.8292 10.5276 26.1783 11.1785L17.3569 20L26.1783 28.8215C26.8292 29.4724 26.8292 30.5276 26.1783 31.1785C25.5275 31.8294 24.4722 31.8294 23.8213 31.1785L13.8213 21.1785Z" fill="white"/>
                        </svg>    
                    </button>
                    <div class="cards__wrap">
                        <div class="cards">
                            {% for card in card_list %}
                                <div class="card">
                                    <h1 class="h1 card__title">
                                        {{card.title}}
                                    </h1>
                                    <p class="text card__text">
                                        {{card.text}}
                                    </p>
                                </div>                    
                            {% endfor %}  
                        </div>
                    </div>
                    <button class="button__next button__circle">
                        <svg class="next__icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.1787 18.8215C26.8295 19.4724 26.8295 20.5276 26.1787 21.1785L16.1787 31.1785C15.5278 31.8294 14.4725 31.8294 13.8217 31.1785C13.1708 30.5277 13.1708 29.4724 13.8217 28.8215L22.6431 20L13.8217 11.1785C13.1708 10.5276 13.1708 9.47237 13.8217 8.8215C14.4725 8.17062 15.5278 8.17063 16.1787 8.8215L26.1787 18.8215Z" fill="white"/>
                        </svg>    
                    </button>
                    <a href="{% url 'courses' %}" class="dn lastbutton button__next button__circle">
                        <svg width="25" height="25" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M12.6354 24.885C11.8675 25.6658 10.6146 25.6839 9.8245 24.9256L1.81965 17.2427C0.816624 16.28 0.789124 14.6848 1.75837 13.6881C2.71668 12.7027 4.28996 12.6733 5.28443 13.6222L11.1837 19.2513L24.6938 5.49118C25.6603 4.50673 27.2431 4.49583 28.2231 5.46689C29.2055 6.44033 29.2158 8.02493 28.2461 9.01102L12.6354 24.885Z" fill="white"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="30" height="30" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>                            
                    </a>
                </div>      
            </div>
        </div>
    </section>
{% endblock %}